/*
    Sitename: COMP125 - Midterm Test
    Filename: app.css
    Author: Haris Siddiqi
    Description: Custom style sheet
*/

/* Global */
html {
    scroll-behavior: smooth;
}
  

/* Header */
.navbar {
    opacity: 0.8;
}

/* Main */
#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}

#contactForm {
    margin-bottom: 4em;
}

/* Footer */
#nav {
    text-align: center;
    color: black;
    height: 25px;
    padding: 0;
    margin: 0;
}

#nav h6 {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}